# torch==2.5.1
# torchvision==0.20.1
# segmentation-models-pytorch==0.5.0
# lightning==2.6.1
# joblib==1.5.3
# onnx==1.21.0
# onnxruntime-gpu==1.24.4
# tensorrt==10.16.1.11


torch==2.5.1
torchvision==0.20.1
segmentation-models-pytorch==0.5.0
lightning==2.6.1
joblib==1.5.3
nvidia-modelopt==0.17.0
nvidia-modelopt[torch]>=0.17.0
# onnx==1.21.0
onnxruntime-gpu==1.19.2
tensorrt==8.6.1.post1
numpy==1.26.4